<header>
     <div class="logo">
          <%= render 'shared/logo' %>
     </div>
     <div class="login-signup">
          <%= link_to 'Login', login_path %>
          <%= link_to 'Signup', signup_path %>
     </div>
</header>


<%# <div class="meme-feed">

</div> %>